{% extends 'base.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block body %}
    <h1>
        Editace kontaktu {{ contact.firstname }} {{ contact.lastname }}
    </h1>
    <div>
        <a href="{{ path('contact_index') }}">Zpět</a>
    </div>
    <br>
    {{ include('contact/_form.html.twig') }}

{% endblock %}
